In [1]:
#import pandas untuk input file csv
import pandas as pd

In [3]:
#input data food delivery datasets
data = pd.read_csv(r'D:\KULIAH\SEMESTER 5\Data Sains\food_delivery_datasets.csv')
print(data)

        order_id  voucher_amount                   date_time  eta_seconds  \
0     FOOD-10455               0  2018-08-12T20:35:08.001006         1800
1     FOOD-10985               0  2018-09-23T17:44:12.243273         2173
2     FOOD-10911               0  2018-09-19T18:08:09.387991         1418
3     FOOD-10932               0  2018-09-21T01:24:35.272499         1903
4     FOOD-10961               0  2018-09-22T17:57:45.523161         1716
...          ...             ...                         ...          ...
1071  FOOD-10921               0  2018-09-20T15:01:52.152828          900
1072  FOOD-10265            5000  2018-07-26T14:43:23.655294         1579
1073  FOOD-10534               0  2018-08-21T20:10:59.283185         2606
1074  FOOD-10158               0  2018-07-16T14:42:23.214427         2428
1075  FOOD-10770               0  2018-09-11T14:18:19.494258         1547

      food_price  cust_id  rating  delivery_fee   resto_id     status  \
0          18900  1089034     5.0          4000  742638033  Completed
1         149000   180146     5.0         11000  742767245  Completed
2          43800   366528     NaN          9000  742618303  Completed
3          39900   511038     5.0         14000  742541172  Completed
4          77700  1220358     NaN          4000  742604875  Completed
...          ...      ...     ...           ...        ...        ...
1071      103200  1296335     5.0          4000  742742150  Completed
1072      145700  1135466     5.0          7000  742566851  Completed
1073      177200  1383625     NaN         15000  742571888  Completed
1074       49300  1094787     5.0          9000  742725064  Completed
1075       43000  1010922     5.0          9000  742594499  Completed

      random_id
0      0.511149
1      0.832936
2      0.828026
3      0.239377
4      0.995587
...         ...
1071   0.248328
1072   0.268251
1073   0.132528
1074   0.167946
1075   0.358051

[1076 rows x 11 columns]

In [4]:
id_resto=data.groupby("resto_id")
id_resto["resto_id"].count()

resto_id
200000639    1
200000964    2
200001006    1
200001973    1
200001979    1
            ..
742808523    1
742809792    1
742810086    1
742813095    2
742814735    1
Name: resto_id, Length: 671, dtype: int64

In [9]:
id_resto["resto_id"].count() \
                    .reset_index(name='count') \
                    .sort_values(['count'], \
                    ascending=False)

      resto_id  count
311  742591683     12
364  742610474     12
587  742731698      9
390  742622470      9
500  742676756      9
..         ...    ...
250  742565366      1
249  742564676      1
248  742564675      1
247  742562594      1
670  742814735      1

[671 rows x 2 columns]

In [18]:
#resto yang paling sering dipesan menggunakan voucher
voucher=data['voucher_amount']>0
data['resto_id'][voucher].value_counts()

742641984    4
742676756    4
742586477    3
742591683    3
742606960    3
            ..
742527385    1
742703942    1
742558808    1
742710437    1
742678784    1
Name: resto_id, Length: 126, dtype: int64

In [19]:
#resto yang mendapat rating 5
rating5=data['rating']>4
data['resto_id'][rating5].value_counts()

742610474    8
742676756    7
742538031    7
742731698    5
742536407    5
            ..
742588044    1
742675089    1
742616723    1
742741653    1
742587001    1
Name: resto_id, Length: 430, dtype: int64